
*{
    font-family:Arial, Helvetica, sans-serif;
    color:#666;
    margin: auto;
}
.table{
    border-collapse: collapse;
    border:1px solid #ccc;
    background-color: 'red';
    width:80%;
}
.table thead th {
    border:1px solid #ccc;
    background-color: #f9f9f9;
    color:#000;
    font-weight: bold;
    font-size: 16px;
    padding:10px;
}
.table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
    width:100%;
    min-height:20px;
    border:1px solid #ccc;
}
.table tbody tr:nth-child(even){
    background-color: #fff;
}

.table ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}
.table ul p{
   margin:0;
   padding:0;
   color:#ccc;
   font-size: 11px;
}